body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    background: linear-gradient(white,#D3D8E8);
    
  }

  
  header {
    background-color: #e37272; /* Dark gray header */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color:rgb(113, 113, 113); /* Dark gray navigation */
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color:rgb(32, 30, 30); /* White text */
    text-decoration: none;
    padding: 12px;
  }
  
  nav ul li a:hover {
    background-color: #666; /* Dark gray hover */
  }
  
  main {
    padding: 5%;
  }
  
  section {
    background-color: white; /* White section background */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333; /* Dark gray footer */
    color: #fff; /* White text */
    text-align: center;
    padding: 100px;
  }